.main-area {
    background-color: antiquewhite;
    height: 100vh;
    width: 100%;
}
.site-title {
text-align: center;
text-transform: uppercase;

}
.units {
    margin-bottom: 150px;
    padding: 25px;
}
.jumbotron{
    text-align: center;
    margin: 10px auto;
    background-color: lightskyblue;
    justify-content: center;
    height: 70%;
    width: 75%;
}
.weight-field {
margin-top: 50px;
}
.height-field{
    margin-top: 50px;
}   
.outcome-field {
    margin-top: 50px ;
    margin-bottom: 50px;

}