/*Backgroung Image*/
.main-page {
    align-items: center;
    background:  url("../images/pexels-foodie-factor-162291-566566.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center; 
}
.container{
    height: 100%;
}
/* Calculator Features */
.calculator-field {
    background-color: yellowgreen;
    color: #393D47;
    float: left;
    height: 100%;
    text-align: center;
    width: 40%;
}
.title {
    padding-bottom: 20px;
    padding-top: 50px;
}
.info {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
.height {
    padding-top: 40px;
}
.weight {
    padding-bottom: 20px;
    padding-top: 20px;
}
.result {
    font-size: large;
    padding-bottom: 20px;
    padding-top: 20px;   
}
/* copyright */
.copyright {
    padding-top: 70px;
}
/* Result box Features */
.result-field {
    background:
      linear-gradient(to right,
       #d6d7d8,
       bisque
      );
    float: left;
    height: 100%;
    text-align: center;
    width: 40%;
}
.result-title {
    padding-bottom: 20px;
    padding-top: 50px;
}
.result-info {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
/* BMI Categories */
.under {
    border: 2px solid #393D47;
    border-radius: 8px;
    padding: 1px;
}
.normal {
    border: 2px solid #393D47;
    border-radius: 8px;
    padding: 1px;
}
.overweight {
    border: 2px solid #393D47;
    border-radius: 8px;
    padding: 1px;
}
.obese {
    border: 2px solid #393D47;
    border-radius: 8px;
    padding: 1px;
}
/*modal contact Line */
.contact {
    padding-top: 70px;
}
.footer-container {
    background-color: yellowgreen;
    bottom: 0;
    color: #393D47;
    height: 40px;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
  }
 .list-inline-item {
    margin: 7px;
 }
 .footer-container i {
    color: bisque;
    font-size: 160%;
    margin: 0;
    padding: 5%;
 }
 /* media width size adgustment */
 @media screen and (max-width: 1028px) {
    .col-md-6 {
    width: 102%;
    }
}
@media screen and (max-width: 1028px){
    .height {
    padding-top: 40px;
    }
    .weight {
    padding-bottom: 40px;
    padding-top: 30px;
    }
    .btn-lg {
    padding-bottom: 5px;
    padding-top: 5px;
    }
 }
 @media screen and (max-width: 1020px){
    .btn-lg {
    padding-bottom: 20px;
    padding-top: 20px;
    }
    .height {
    padding-top: 50px;
    }
    .weight {
    padding-bottom: 55px;
    padding-top: 50px;
    }
 }
 @media screen and (max-width: 600px){
    .btn-lg {
    padding-bottom: 0;
    padding-top: 0;
    }
    .height {
    padding-top: 40px;
    }
    .weight {
    padding-bottom: 20px;
    padding-top: 20px;
    }
 }
  @media screen and (max-width: 400px){
    .result-field{
    height: 120%;
    }
}
/* media heigth size adgustment */
@media screen and (max-height: 670px){
    .btn-lg {
    padding-bottom: 10px;
    padding-top: 10px;
    }
    .calculator-field {
    height: 120%;
    }
    .contact {
    padding-bottom: 80px;
    }
    .copyright{
    padding-bottom: 70px;
    }
    .height {
    padding-top: 40px;
    }
    .main-page {
     height: 120%;
    }   
    .result-field {
    height: 120%;
    }
    .weight {
    padding-bottom: 30px;
    padding-top: 30px;
    }   
 }
